<h2>hey</h2>
<img src="<%= @user.avatar %>">
<%= @user.name %>
<div><a href="/chronicle/<%= @user.fb_id %>/new">Add to <%= @user.name %>'s Chronicle</a></div>
<% @user.video.each do |video| %>
  <%= video.desc %>
  <%= video.url %>
<% end %>

<video id="home_video" controls preload="auto" data-setup="{}">
<source src="http://d3dlokrrcg43yp.cloudfront.net/VIDEO0023.mp4" type='video/mp4' />
</video>
