<div class="head">
<img class="chronicle_image" src="<%= @user.avatar %>">
<h3><%= @user.name %></h3>
</div>
<div class="add_to_chronicle"><a class="btn btn-primary btn-block" href="/chronicle/<%= @user.fb_id %>/new">Add to <%= @user.name %>'s Chronicle</a></div>
<% @user.video.each do |video| %>
  <%= video.desc %>
  <%= video.url %>
<% end %>

<video id="home_video" controls preload="auto" data-setup="{}">
<source src="http://d3dlokrrcg43yp.cloudfront.net/VIDEO0023.mp4" type='video/mp4' />
</video>
